<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mvdw.helpmij.gebruiker.HMGebruikerData" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="mvdw.helpmij.forum.HMForumData" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="mvdw.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <mvdw.helpmij.gebruiker.HMGebruikerData>
            <setting name="siteURL" serializeAs="String">
                <value>http://www.helpmij.nl/</value>
            </setting>
            <setting name="loginPHP" serializeAs="String">
                <value>forum/login.php</value>
            </setting>
            <setting name="sendPassword" serializeAs="String">
                <value>do=emailpassword&amp;email=</value>
            </setting>
        </mvdw.helpmij.gebruiker.HMGebruikerData>
        <mvdw.helpmij.forum.HMForumData>
            <setting name="pagePrefix" serializeAs="String">
                <value>"/page"</value>
            </setting>
            <setting name="memberPrefix" serializeAs="String">
                <value>@" href=""member.php/"</value>
            </setting>
            <setting name="memberSuffix" serializeAs="String">
                <value>@""" title="</value>
            </setting>
            <setting name="authorSuffix" serializeAs="String">
                <value>"?s="</value>
            </setting>
            <setting name="titlePrefix" serializeAs="String">
                <value>"&lt;title&gt; "</value>
            </setting>
            <setting name="titleSuffix" serializeAs="String">
                <value>"&lt;/title&gt;"</value>
            </setting>
            <setting name="metaKeywordPrefix" serializeAs="String">
                <value>@"&lt;meta name=""keywords"" content="""</value>
            </setting>
            <setting name="metaKeywordSuffix" serializeAs="String">
                <value> @""" /&gt;"</value>
            </setting>
            <setting name="commentBodyPrefix" serializeAs="String">
                <value>@"&lt;blockquote class=""postcontent restore ""&gt;"</value>
            </setting>
            <setting name="commentBodySuffix" serializeAs="String">
                <value>@"&lt;/blockquote&gt;"</value>
            </setting>
        </mvdw.helpmij.forum.HMForumData>
        <mvdw.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordLength" serializeAs="String">
                <value>0</value>
            </setting>
        </mvdw.Properties.Settings>
    </userSettings>
</configuration>