<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mvdw.helpmij.gebruiker.HMGebruikerData" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="mvdw.helpmij.forum.HMForumData" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="mvdw.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <mvdw.helpmij.gebruiker.HMGebruikerData>
            <setting name="siteURL" serializeAs="String">
                <value>http://www.helpmij.nl/</value>
            </setting>
            <setting name="loginPHP" serializeAs="String">
                <value>forum/login.php</value>
            </setting>
            <setting name="sendPassword" serializeAs="String">
                <value>do=emailpassword&amp;email=</value>
            </setting>
            <setting name="userstatusPrefix" serializeAs="String">
                <value>&lt;span class="usertitle"&gt;</value>
            </setting>
            <setting name="userstatusSuffix" serializeAs="String">
                <value>&lt;/span&gt;</value>
            </setting>
            <setting name="publicprofilePHP" serializeAs="String">
                <value>/forum/member.php/</value>
            </setting>
            <setting name="totalPostsPrefix" serializeAs="String">
                <value>&lt;dt&gt;Totaal aantal berichten&lt;/dt&gt;
		&lt;dd&gt; </value>
            </setting>
            <setting name="totalPostsSuffix" serializeAs="String">
                <value>&lt;/dd&gt;</value>
            </setting>
            <setting name="postdayPrefix" serializeAs="String">
                <value>Berichten per dag&lt;/dt&gt;
		&lt;dd&gt; </value>
            </setting>
            <setting name="postdaySuffix" serializeAs="String">
                <value>&lt;/dd&gt;</value>
            </setting>
            <setting name="registeredPrefix" serializeAs="String">
                <value>Geregistreerd&lt;/dt&gt;
		&lt;dd&gt;  </value>
            </setting>
            <setting name="registeredSuffix" serializeAs="String">
                <value>&lt;/dd&gt;</value>
            </setting>
        </mvdw.helpmij.gebruiker.HMGebruikerData>
        <mvdw.helpmij.forum.HMForumData>
            <setting name="pagePrefix" serializeAs="String">
                <value>/page</value>
            </setting>
            <setting name="memberPrefix" serializeAs="String">
                <value> href="member.php/</value>
            </setting>
            <setting name="memberSuffix" serializeAs="String">
                <value>" title=</value>
            </setting>
            <setting name="authorSuffix" serializeAs="String">
                <value>?s=</value>
            </setting>
            <setting name="titlePrefix" serializeAs="String">
                <value>&lt;title&gt; </value>
            </setting>
            <setting name="titleSuffix" serializeAs="String">
                <value>&lt;/title&gt;</value>
            </setting>
            <setting name="metaKeywordPrefix" serializeAs="String">
                <value>&lt;meta name="keywords" content="</value>
            </setting>
            <setting name="metaKeywordSuffix" serializeAs="String">
                <value> " /&gt;</value>
            </setting>
            <setting name="commentBodyPrefix" serializeAs="String">
                <value>&lt;blockquote class="postcontent restore "&gt;</value>
            </setting>
            <setting name="commentBodySuffix" serializeAs="String">
                <value>&lt;/blockquote&gt;</value>
            </setting>
            <setting name="siteURL" serializeAs="String">
                <value>http://www.helpmij.nl</value>
            </setting>
            <setting name="newTopicUrlPrefix" serializeAs="String">
                <value>&lt;a href=</value>
            </setting>
            <setting name="newTopicUrlSuffix" serializeAs="String">
                <value> class="last_title</value>
            </setting>
            <setting name="newTopicTitlePrefix" serializeAs="String">
                <value>class="last_title" title="</value>
            </setting>
            <setting name="newTopicTitleSuffix" serializeAs="String">
                <value>"&gt;&lt;span&gt;</value>
            </setting>
            <setting name="newTopicTimePrefix" serializeAs="String">
                <value>"&gt;&lt;span&gt;</value>
            </setting>
            <setting name="newTopicTimeSuffix" serializeAs="String">
                <value> &amp;gt;</value>
            </setting>
            <setting name="homepageTab1" serializeAs="String">
                <value>ui-tabs-panel" id="tab_latest_questions_1</value>
            </setting>
            <setting name="homepageTab2" serializeAs="String">
                <value>ui-tabs-panel" id="tab_latest_questions_2</value>
            </setting>
            <setting name="homepageTab3" serializeAs="String">
                <value>ui-tabs-panel" id="tab_latest_questions_3</value>
            </setting>
            <setting name="hompageTabEnd" serializeAs="String">
                <value>&lt;!-- End tab containers --&gt;</value>
            </setting>
        </mvdw.helpmij.forum.HMForumData>
        <mvdw.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordLength" serializeAs="String">
                <value>0</value>
            </setting>
        </mvdw.Properties.Settings>
    </userSettings>
</configuration>